<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455577771528-g0q0qdm398us2qhagi67r92o8sr5af7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455577771528-g0q0qdm398us2qhagi67r92o8sr5af7n</string>
	<key>API_KEY</key>
	<string>AIzaSyBglrbwJCHlMaXLKJ64fPcqBmKVoQp-ids</string>
	<key>GCM_SENDER_ID</key>
	<string>455577771528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kuruma42.ChatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatwithfirebaseapp-5e221</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfirebaseapp-5e221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455577771528:ios:7cc9f4bdfc389c507cbbbd</string>
</dict>
</plist>